.button1{
    color:red;
    font-size: 20px;
    margin-right: 10px;
    border: solid 1px red;
    border-radius: 5px;
    text-decoration: none;
}
.button2{
    color:green;
    font-size: 20px;
    border: solid 1px green;
    border-radius: 5px;
    text-decoration: none;
}